body {
  background-color: #263238;
  color: white;
}

td { font-size: 20px; }

th {
  font-size: 22px;
  text-align: center;
}

figure { margin: 0 auto; }

.circle {
  display: block;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.circle-blue  { background: radial-gradient(circle at 5px 5px, #0091ea, #000); }
.circle-grey { background: radial-gradient(circle at 5px 5px, grey, #000); }
.circle-red  { background: radial-gradient(circle at 5px 5px, #f44336, #000); }
.circle-orange  { background: radial-gradient(circle at 5px 5px, #f39c12, #000); }
.circle-yellow  { background: radial-gradient(circle at 5px 5px, #ffeb3b, #000); }

.type0 { color: #0091ea; }
.type1 { color: grey; }
.type2 { color: #f44336; }
.type3 { color: #f39c12; }
.type4 { color: #ffeb3b; }

.search {
  height: 35px;
  width: 35px;
  background-color: #464545;
  font-size: 12px;

  text-decoration: none;
}

.search-input {
  height: 35px;
  width: 105px;
  background-color: #464545;
  color: #fff;
  font-size: 12px;

  text-decoration: none;
  border: none;
  padding: 10px;
}

.arrow {
  height: 30px;
  width: 30px;
  background-color: #464545;

  border: none;
  text-decoration: none;
}

.arrow-left {
  border: none;
  border-radius: 1em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.arrow-right {
  border: none;
  border-radius: 1em;
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
}
