<div class="row">
  <div class="col-xs-12">
    <br>
    <div class="text-center">
      <table class="table table-striped table-bordered" ts-wrapper>
        <thead>
          <tr class="text-warning">
            <th ts-criteria="guid|parseInt">Guid</th>
            <th ts-criteria="account|parseInt">Account</th>
            <th ts-criteria="name|lowercase">Name</th>
            <th ts-criteria="level|parseInt">Level</th>
            <th ts-criteria="type|parseInt">Type</th>
            <th ts-criteria="datetime|parseInt">Datetime</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="player in players track by $index" ts-repeat>
            <td class="text-danger">{{ player.guid }}</td>
            <td class="text-danger">{{ player.account }}</td>
            <td class="text-info">{{ player.name }}</td>
            <td>{{ player.level }}</td>
            <td class="text-center"><figure class="circle circle-{{ player.status }}" uib-popover="{{ player.popover }}" popover-trigger="mouseenter"></figure></td>
            <td class="text-success">{{ player.datetime }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
