<form class="filter__form" (ngSubmit)="onSubmit()">
  <div class="filter__wrapper">
    <label for="currentPage">Page:</label>
    <input
      class="filter__input filter__input--small"
      type="number"
      min="1"
      placeholder="Page index"
      [(ngModel)]="currentPage"
      name="currentPage"
      id="currentPage"
    />
  </div>

  <div class="filter__wrapper">
  <label for="entriesPerPage">Entries:</label>
  <input
    class="filter__input filter__input--small"
    type="number"
    max="100"
    min="5"
    placeholder="Entries per page"
    [(ngModel)]="entriesPerPage"
    name="entriesPerPage"
    id="entriesPerPage"
  />
  </div>

  <input
    class="filter__input"
    placeholder="Filter by name"
    [(ngModel)]="nameFilter"
    name="nameFilter"
  />

  <button class="filter__button" matTooltip="Apply filters">
    <mat-icon class="material-symbols-outlined" aria-hidden="false" aria-label="Save"
      >save</mat-icon
    >
  </button>
</form>
