@import '../../variables.scss';

.filter {
  &__form {
    display: flex;
    align-items: center;
    gap: 2em;
    margin: 0.5rem;
  }

  &__wrapper {
    > label {
      margin-right: 3px;
    }
  }

  &__input {
    height: 35px;
    padding: 0 0.25em;
    color: white;
    background-color: $background;
    border: none;

    &--small {
      width: 3em;
    }
  }

  &__button {
    height: 35px;
    padding: 0.25em 0.5em;
    border-radius: 0 35% 35% 0;
    color: $yellow;
    background-color: $background;
    border: none;
    cursor: pointer;
  }
}
