@import '../variables.scss';

$padding: 10px;

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar {
  justify-content: space-around;

  &__title {
    font-size: 2em;
    padding: $padding;
  }

  &__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;

  .table {
    width: 100%;
  }
}

.dot {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);

  &--red {
    background-color: $red;
  }

  &--orange {
    background-color: $orange;
  }

  &--yellow {
    background-color: $yellow;
  }

  &--blue {
    background-color: $blue;
  }

  &--grey {
    background-color: $grey;
  }
}

.legend {
  &-button {
    position: sticky;
    bottom: 0;
    left: 100%;
  }

  &__title {
    color: $text;
    margin-left: $padding;
    font-size: larger;
  }

  &__grid {
    display: grid;
    grid-template-columns: auto max-content;
    gap: 1em;
    padding: $padding;

    > span {
      color: $text;
    }
  }
}

.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding;
  color: $text;

  > hr {
    width: 100%;
    color: $yellow;
  }

  > strong {
    color: $yellow;
  }
}
