<div class="mat-app-background">
  <div class="header">
    <mat-toolbar class="toolbar" color="primary">
      <h1 class="toolbar__title">{{ title }}</h1>
      <div class="toolbar__options">
        <app-filter (filterChange)="onFilterChange($event)"></app-filter>
      </div>
    </mat-toolbar>
    <mat-progress-bar *ngIf="loading" class="progress-bar" mode="indeterminate"></mat-progress-bar>
  </div>

  <table class="table" mat-table matSort [dataSource]="dataSource">
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        [sortActionDescription]="'Sort by ' + column"
      >
        {{ column.toUpperCase() }}
      </th>
      <div *ngIf="column !== 'type'">
        <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
      </div>
      <div *ngIf="column === 'type'">
        <td mat-cell *matCellDef="let element">
          <div
            [ngClass]="['dot', 'dot--' + typeColors[element[column]].color]"
            [matTooltip]="typeColors[element[column]].tooltip"
          ></div>
        </td>
      </div>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="credits">
    <hr />
    <strong>Created by:</strong>
    <em>Helias</em>
    <em>Lorenzo Pappalardo</em>
  </div>

  <app-legend></app-legend>
</div>
