/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$my-palette: mat.$teal-palette;
$my-primary: mat.define-palette(mat.$teal-palette, 800, 300, 900);
$my-accent: mat.define-palette(mat.$cyan-palette, A200, A100, A400);

$my-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent
    )
  )
);

@include mat.all-component-themes($my-theme);

body {
  margin: 0;
}

.mat-menu-panel {
  max-width: none !important;
}
